<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <script src="https://kit.fontawesome.com/98fc5c884d.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body id="main-body">

    <ul class="topnav">


        {{#if homePage}}
        <li><a class="active" href="/home"><i class="fa-solid fa-house"></i></a>
        </li>
        {{else}}
        <li><a href="/home"><i class="fa-solid fa-house"></i></a>
        </li>
        {{/if}}


        {{#if Clothing}}
        <li><a class="active" href="/clothing">Clothing</a></li>
        {{else}}
        <li><a href="/clothing">Clothing</a></li>
        {{/if}}


        {{#if Transport}}
        <li><a class="active" href="/transportation">Transportation</a></li>
        {{else}}
        <li><a href="/transportation">Transportation</a></li>
        {{/if}}


    </ul>


    <main class="main-body">
        {{{body}}}
    </main>

</body>



</html>