@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nunito+Sans:wght@200;400&display=swap');


  body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f0ffff;
  }

  .main-banner {
    background: rgb(240,255,255);
    background: linear-gradient(0deg, rgba(240,255,255,1) 0%, rgba(153,221,218,0.5) 100%);
  }

  #map {
    z-index: -1;
    height: 800px;
    width: 800px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
  
  /*https://www.w3schools.com/css/css_navbar_horizontal.asp*/
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343A40;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  }
  
  ul.topnav li {
    float: left;
  }
  
  
  ul.topnav li a,
  ul.topnav #darkMode {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font: Andale Mono;
    font-size: 120%;
  }
  
  ul.topnav li a:hover:not(.active),
  ul.topnav #darkMode:hover:not(.active) {
    background-color: #2a2d31;
    cursor: pointer;
  }
  
  ul.topnav li a.active,
  ul.topnav #darkMode.active {
    background-color: #2a2d31;;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
  
    div.content {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }
  
  
  
  /*https://www.w3schools.com/css/css_navbar_horizontal.asp*/

  h1 {
    color: black;
    text-align: center;
    padding: 20px;
    font-size:50px;
    
  }

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 35%;
  }

  #slogan {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 400%;
    padding: 50px 50px;
    text-shadow: 4px 2px #99ddda;
  }

  hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .right{
    float: right;
  }
  
  h2{
    color: black;
    font-weight: 400;
    font-size: 36px;
  }

  .text-format { /* General formatting for body text */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 110%;
    line-height: 150%;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: rgb(120, 79, 255);
  }
  
  /*dark-mode*/
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  
  .dark-mode a {
    color: rgb(167, 140, 255);
  }
  
  
  #darkButton {
    float: right;
  }
  
  .dark-mode ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 30, 45);
    color: white;
  }
  
  
  .dark-mode ul.topnav li a.active,
  .dark-mode ul.topnav #darkMode.active {
    background-color: rgb(201, 89, 110);
  }
  
  /*art gallary*/
  .art {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 500px;
  }
  
  /*table*/
  
  table, th, td {
    border:1px solid black;
  }
  
  .dark-mode table, .dark-mode th,.dark-mode td {
    border:1px solid white;
  }
  
  table, th, td {
    border:1px solid black;
  }

  form{
    text-align: center;
}


  
/*copied from signup **/
/*
#login-form label, #login-form button {
    margin:2px 0 20px 10px;
    font-weight: bold;
  }

#login-form input{
    display: block;
    font-size:11px;
    padding:4px 2px;
    width:250px;
    margin:2px 0 20px 10px;
  }
  
  #login-form label, #login-form button {
    margin:2px 0 20px 10px;
    font-weight: bold;
  }
  
  #login-form h1{
    margin-top: 50px;
  }
  
  #login-form p {
    margin-top: 30px;
    margin-left: 10px;
  }
  */