<h1>Clothing</h1>
<p>Outfits are an important part of interviews. You can find a list of suggestions on this page, as well as some tips for buying/renting clothes. One cheap option is to explore the thrift stores near you!</p>
<h2>Common Dress Codes for Men and Women</h2>
<a target="_blank" href="https://www.thebalancemoney.com/best-interview-attire-for-every-type-of-interview-2061364#:~:text=Generally%2C%20a%20job%20interview%20calls,and%20a%20button%2Ddown%20shirt
">Find More Information Here</a>
<h3>Clothings For All Genders
</h3>

<ul>
<li>Button-down shirt or sweater</li>
<li>Suit jacket</li>
<li>Blouse and dress pants</li>
<li>Statement Dress</li>
</ul>

<h3>Accessories</h3>
<ul>
<li>Style Your Hair</li>
<li>Wear Subtle Makeup</li>
<li>Blouse and dress pants</li>
<li>Statement Dress</li>
</ul>


<h3>Men</h3>

<a href = "/public/img/men.jpg" target = "_blank" ><img class="art" src="/public/img/men.jpg" alt="interview1"></a>

<h3>Women</h3>
<a id = "womenimg" href = "/public/img/interview1.png" target = "_blank" ><img class="art" src="/public/img/interview1.png" alt="interview1"></a>

<h2>Find Cheap Clothing/Rental Stores Near Me</h2>

<h3>Thrift Stores</h3>
