<h1>Clothing</h1>

<hr />
{{!-- Map goes here --}}


<div class="text-format">
<p>Outfits are an important part of interviews. You can find a list of suggestions on this page, as well as some tips for buying/renting clothes. One cheap option is to explore the thrift stores near you!</p>

<h2>Affordable Resources</h2>
    <h3>Thrift Stores</h3>
    <p>Use the map to navigate thrift stores</p>

<h3 id="rental">Rental Services</h3>

<li><a target="_blank"
        href="https://www.renttherunway.com/content/paidplanslp?pdp_focused_flow=pp_membership&utm_campaign=rtr_ad%7CGoogle%7CNonbrand%7CSubscription-Boxes%7CBroad&utm_source=google&sem_cid=15917406372&sem_gid=136195391510&pxid=kwd-295933240769&utm_medium=cpc&utm_term=clothing+rental+websites&sem_type=b&em_stream=&r_ty=&gclid=Cj0KCQiAo-yfBhD_ARIsANr56g4DRyfi0XVCyO32vvpNLsk92o_Zt5kxlp9EuzNmLNIB1sh_7Gl2YKcaAr8nEALw_wcB">Rent
        The Runway</a></li>
<li><a target="_blank" href="https://www.nuuly.com/">nuuly</a></li>
<li><a target="_blank" href="https://www.fashionpass.com/">fashionpass</a></li>




<h2 id="all">Common Dress Codes for <a href ='#men'>Men</a> or <a href ='#women'>Women</a> or <a href ='#all'>Non-Binary</a></h2>
<a target="_blank" href="https://www.thebalancemoney.com/best-interview-attire-for-every-type-of-interview-2061364#:~:text=Generally%2C%20a%20job%20interview%20calls,and%20a%20button%2Ddown%20shirt
">Find More Information Here</a>
<h3>Clothings For All Genders
</h3>

<ul>
    <li>Button-down shirt or sweater</li>
    <li>Suit jacket</li>
    <li>Blouse and dress pants</li>
    <li>Statement Dress</li>
</ul>

<h3>Accessories</h3>
<ul>
    <li>Style Your Hair</li>
    <li id="men">Wear Subtle Makeup</li>
    <li>Blouse and dress pants</li>
    <li>Statement Dress</li>
</ul>


<h3>Men</h3>

<a href="/public/img/men.jpg" target="_blank"><img class="art" src="/public/img/men.jpg" alt="interview1"></a>

<h3 id="women">Women</h3>
<a id="womenimg" href="/public/img/interview1.png" target="_blank"><img class="art" src="/public/img/interview1.png"
        alt="interview1"></a>


</div>

