<h1>YOU ACE THE INTERVIEW, WE DO THE REST</h1>

<h3>Interviews have become a pivotal part of the job process, yet not all situations are made equal. Whether it be a ride to the jobsite, some professional clothing, or good interview prep, there are many outside factors to hold you back. We seek to change that. At interview prep, we give you the tools to come prepared and professional to every interview in your way. </h3>
<div class="text-format">

    <h2>How to Navigate</h2>
<p>Navigate the Top Bar to Access Resources for Transporation, Clothing Rental, and Practice Questions</p>


      <h2>Online Resources for Common Interview Questions </h2>
      
<a target="_blank" href="https://www.careeronestop.org/JobSearch/Interview/common-interview-questions.aspx
">
https://www.careeronestop.org/JobSearch/Interview/common-interview-questions.aspx
</a>
<br>
<a target="_blank" href="https://novoresume.com/career-blog/behavioral-interview-questions">
https://novoresume.com/career-blog/behavioral-interview-questions</a>
<h2>Interview Tips</h2>

<ul>

    <li>Be 10-15 minutes early</li>
    <li>Know the interviewer's name</li>
    <li>Bring several copies of your resume</li>
    <li>Dress professionally</li>
</ul>
<p>More information can be found in the following links:</p>
<a target="_blank" href="https://ung.edu/career-services/online-career-resources/interview-well/tips-for-a-successful-interview.php
">
https://ung.edu/career-services/online-career-resources/interview-well/tips-for-a-successful-interview.php
</a>
<br>
<a target="_blank" href ="https://www.dol.gov/general/jobs/interview-tips#:~:text=Be%20prepared%20to%20summarize%20your,and%20abilities%20fit%20the%20job.">https://www.dol.gov/general/jobs/interview-tips#:~:text=Be%20prepared%20to%20summarize%20your,and%20abilities%20fit%20the%20job.</a>
</div>
