<h1>Libraries</h1>
<hr />
<div class="text-format">
<p>We have list of libraries around NYC for internet and computer access in case for an online interview.</p>

<ul>
    <li><a target="_blank" href="https://www.nypl.org/locations/columbus">Columbus Library</a></li>
    <li><a target="_blank" href="https://www.nypl.org/locations/schwarzman">New York Public Library</a></li>
    <li><a target="_blank" href="https://www.nypl.org/locations/58th-street">58th Street Library</a></li>
    <li><a target="_blank" href="https://www.nypl.org/locations/53rd-street">53th Street Library</a></li>
    <li><a target="_blank" href="https://www.nypl.org/locations/riverside">Riverside Library</a></li>
<li><a target="_blank" href="https://www.nypl.org/locations/epiphany">Epiphany Library</a></li>
</ul>

<p>We also have a map to help you navigate libraries near you.</p>
</div>